body,html{margin:0;padding:0;}
body{
    background: gray url(./assets/bg2.png) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
    background-size: cover;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-family: SuperMario256;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-property: font-size;
  }

  .Discord {
    font-family: SuperMario256;
    background-color: white;
    color: blueviolet;
    text-decoration: none;
    display: inline-block;
    padding: 24px 40px;
    margin-top: 670px;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    border-color: blueviolet;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .Discord:hover {
    font-size: 40px; 
    background-color: blueviolet;
    color: white;
  }

  .divider {
    width:100px;
    height:auto;
    display:inline-block;
    }   

.play {
    margin-top: 670px;
    border-radius: 15px;
    font-size: 32px;    
    padding: 30px 60px;
    border-color: #4CAF50;
    color: green;
  }
  
  .play:hover {
    font-size: 40px; 
    background-color: #4CAF50;
    color: white;
  }

  .info {
    margin-top: 670px;
    border-radius: 15px;
    font-size: 32px; 
    padding: 30px 30px;
    border-color: brown;
    color: brown;
    max-height: fit-content;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-property: font-size;
  }
  
  .info:hover {
    font-size: 40px; 
    background-color: brown;
    color: white;
  }

  .snake {
    border-radius: 8px;
    border: 5px solid #555;
    width: 53vw;
    max-width: fit-content;
    margin-right: auto;
    max-width: 33%;
    margin-bottom: 700px;
  }

  .mario {
    border-radius: 8px;
    border: 5px solid #555;
    width: 33vw;
    max-width: fit-content;
    margin-left: auto;
    margin-bottom: 700px;
  }

  .aboutgif {
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    color:white;
    font-family: SuperMario256;

  }


.section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    max-height: fit-content;
}

.footer {
    position: relative;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-height: fit-content;
}

.about {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    font-family: SuperMario256;
    max-height: fit-content;
}

p {
    margin-top: -200px;
    text-align: center;
    font-size: 35px;
    color:blueviolet
}

.creditpeople {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.credittext2 {
  width: 33vw;
  max-width: 33%;
}

.about h1 {
    margin-bottom: 8em;
    position: relative;
    align-items: center;
    font-size: 400%;
  }

.credits {
    flex-direction: column;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: rgb(31, 29, 29);
    color:white;
    font-family: SuperMario256;
}

.credittitle {
  margin-bottom: 2em;
  font-size: 60px;
}

.bg1 {
    background-image:   
    url('./assets/bg.png');
    background-repeat: no-repeat;
    background-position: 50%, -1px -1px; /*     TODO: normal position for icon is 63.5% 63%. removed icon because of scaling / anim problem cause I suck apparently */
    background-size: contain, 240px 240px;
    max-width: 100%, 240px 240px;
}

@font-face {
    font-family: SuperMario256;
    src: local("SuperMario256"),
         local("SuperMario256"),
         url(./font/SuperMario256.ttf);
}